{% extends 'beautyapp/indexs.html' %}

{% load static %}
{% block about %}



<div class="container cncbanner" style="background-image:url({% static 'beautyapp/images/body1.jpeg' %})">

  <div class="row bannerrow">
    <div class="col-lg-6 banner " style="background-image:url({% static 'beautyapp/images/menfootrefl.jpeg' %});"></div>
    <div class="col-lg-6 banner1">

      <div class="row">
        <h1 class="text-center" style="color:#ec459a">FOOT REFLEXOLOGY</h1>
        <div class="row desbanner">
      <p class="bannerp">In FISS we provide best FOOT REFLEXOLOGY Massage.

      This Foot Reflexology helps to improve blood circulation,

      relaxation, relieves body pain and make your feet healthier.</p>
        </div>
    </div>

    <div class="row bannerprice" style="">
  <div class="col-lg-6"><p class="bannerp">DURATION = 30/60 Minutes</p></div>
  <div class="col-lg-6"><p class="bannerp bannerp1">PRICE = Rs 599 / 999</p></div>
  </div>
  </div>
  </div >

  <div class="row bannerrow">
    <div class="col-lg-6 banner2">

      <div class="row">
        <h1 class="text-center" style="color:#ec459a">FULL LEG MASSAGE</h1>
        <div class="row desbanner">
      <p  class="bannerp">In FISS we provide best FULL LEG MASSAGE.

This Leg massage helps in relieve sore, tired muscles and strong

pressure reduces tension and pain in your muscles.</p>
        </div>
    </div>

    <div class="row bannerprice" style="">
  <div class="col-lg-6"><p class="bannerp">DURATION = 30/60 Minutes</p></div>
  <div class="col-lg-6"><p class="bannerp bannerp1">PRICE = Rs 599 / 999</p></div>
  </div>
  </div>

    <div class="col-lg-6 banner banners " style="background-image:url({% static 'beautyapp/images/menfootrefl.jpeg' %});"></div>

  </div >




</div>

<!-- <div class="container" style="margin-bottom:2%">
<div class="row">
  <div class="col-lg-6" style="background-image:url({% static 'beautyapp/images/menfootrefl.jpeg' %})"></div>
  <div class="col-lg-6" style="background-color:#cfe0cd; height:243px;background-repeat:no-repeat;border-radius:30px;margin-left:-57px;margin-top:26px;z-index:4;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
<div class="row">
  <h1 class="text-center" style="color:#ec459a">FOOT REFLEXOLOGY</h1>
  <div class="row" style="height:100px;border-radius:10px;background-color:green;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);margin-left:3%;margin-right:3%">
<p style="font-size:20px;color:white;padding:10px;10px;font-family:auto">In FISS we provide best FOOT REFLEXOLOGY Massage.

This Foot Reflexology helps to improve blood circulation,

relaxation, relieves body pain and make your feet healthier.</p>
  </div>
  <div class="row" style="height:50px;border-radius:10px;background-color:#523376;box-shadow:  0 75px 64px 0 rgba(0, 0, 0, 0.2), 0 18px 41px 0 rgba(0, 0, 0, 0.19);margin-left:3%;margin-right:3%;margin-top:2%">
<div class="col-lg-6"><p style="font-size:18px;color:white;padding:10px;10px;font-family:auto">DURATION = 30/60 Minutes</p></div>
<div class="col-lg-6"><p style="font-size:18px;color:white;padding:10px;10px;font-family:auto;">PRICE = Rs 599 / 999</p></div>
</div>

  </div>

</div></div>

<div class="row" style="margin-bottom:5%">
  <div class="col-lg-6" style="background-color:#cfe0cd; height:243px;background-repeat:no-repeat;border-radius:30px;margin-top:26px;z-index:4;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
<div class="row">
  <h1 class="text-center" style="color:#ec459a">FULL LEG MASSAGE</h1>
  <div class="row" style="height:100px;border-radius:10px;background-color:green;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);margin-left:3%;margin-right:3%">
<p style="font-size:20px;color:white;padding:10px;10px;font-family:auto">In FISS we provide best FULL LEG MASSAGE.

This Leg massage helps in relieve sore, tired muscles and strong

pressure reduces tension and pain in your muscles.

</p>
  </div>
  <div class="row" style="height:50px;border-radius:10px;background-color:#523376;box-shadow:  0 75px 64px 0 rgba(0, 0, 0, 0.2), 0 18px 41px 0 rgba(0, 0, 0, 0.19);margin-left:3%;margin-right:3%;margin-top:2%">
<div class="col-lg-6"><p style="font-size:18px;color:white;padding:10px;10px;font-family:auto">DURATION = 30/60 Minutes</p></div>
<div class="col-lg-6"><p style="font-size:18px;color:white;padding:10px;10px;font-family:auto;">PRICE = Rs 599 / 999</p></div>
</div>

  </div>

</div>
<div class="col-lg-6" style="background-image:url({% static 'beautyapp/images/Flegmassage.jpg' %});height:262px;background-repeat:no-repeat;border-radius:61px;background-position:center;margin-top:21px;margin-left:-26px;"></div>

</div>

<div> -->


{%endblock%}
