{% extends 'beautyapp/indexs.html' %}

{% load static %}
{% block Services %}

<div class="container">
  <div class="row servicehd">
    <h4 class="text-center">Services</h4>
  </div><br /><br>
</div>

<div class="container">
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">FOOT REFLEXOLOGY MASSAGE :</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse in">
        <div class="panel-body" style="background-image:url({% static 'beautyapp/images/footreflexol.png' %});width:100%;height:500px;">
          <div class="row panelrow">
            <p class="panelp">In FISS we provide best FOOT REFLEXOLOGY Massage.</p>
            <p class="panelp">This Foot Reflexology helps to improve blood circulation,</p>
            <p class="panelp"> relaxation, relieves body pain and make your feet healthier.</p>
          </div>
          <div class="row srow">
            <div class="col-lg-4 stime">
              <h4 class="text-center">DURATION = 30 / 60 Minutes<h4>
            </div>
            <div class="col-lg-4 sprice">
              <h4 class="text-center">PRICE = ₹ 599 / 999</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">FULL LEG MASSAGE :</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse ">
        <div class="panel-body" style="background-image:url({% static 'beautyapp/images/Flegmassage.jpg' %});width:100%;height:500px;">
          <div class="row panelrow">
            <p class="panelp">In FISS we provide best FULL LEG MASSAGE. </p>
            <p class="panelp">This Leg massage helps in relieve sore, tired muscles and strong</p>
            <p class="panelp"> pressure reduces tension and pain in your muscles.</p>
          </div>
          <div class="row srow">
            <div class="col-lg-4 stime">
              <h4 class="text-center">DURATION = 30 / 60 Minutes<h4>
            </div>
            <div class="col-lg-4 sprice">
              <h4 class="text-center">PRICE = ₹ 599 / 999</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">HEAD, SHOULDER & NECK MASSAGE :</a>
          </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse ">
          <div class="panel-body" style="background-image:url({% static 'beautyapp/images/Hdshoulneck.png' %});width:100%;height:500px;">
            <div class="row panelrow">
              <p class="panelp">In FISS we provide best HEAD, SHOULDER & NECK MASSAGE.</p>
              <p class="panelp"> This massage helps to relax, reduce muscle pain, tension,</p>
              <p class="panelp"> stress and many more.</p>
            </div>
            <div class="row srow">
              <div class="col-lg-4 stime">
                <h4 class="text-center">DURATION = 30 / 60 Minutes<h4>
              </div>
              <div class="col-lg-4 sprice">
                <h4 class="text-center">PRICE = ₹ 599 / 999</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    <br><br>

    <div class="row servicehd">
      <h4 class="text-center">FULL BODY MASSAGE </h4>
    </div><br />

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">AROMA THERAPY:</a>
          </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse ">
          <div class="panel-body" style="background-image:url({% static 'beautyapp/images/aromatherapy.jpg' %});width:100%;height:500px;">

            <div class="row panelrow">
              <p class="panelp">In FISS we provide best AROMA THERAPY. </p>
              <p class="panelp">This therapy is used to manage pain, improve</p>
              <p class="panelp"> sleep quality, reduces stress, agitation, and anxiety.</p>
            </div>
            <div class="row srow">
              <div class="col-lg-4 stime">
                <h4 class="text-center">DURATION = 60 / 90 Minutes<h4>
              </div>
              <div class="col-lg-4 sprice">
                <h4 class="text-center">PRICE = ₹ 1200 / 1900</h4>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">SWEDISH MASSAGE:</a>
          </h4>
        </div>
        <div id="collapse5" class="panel-collapse collapse ">
          <div class="panel-body" style="background-image:url({% static 'beautyapp/images/swedishmsage.jpg' %});width:100%;height:500px;">

            <div class="row panelrow">
              <p class="panelp">In FISS we provide best SWEDISH MASSAGE. This massage is most popular in US. </p>
              <p class="panelp">It involves the use of hands, forearms or elbows to manipulate</p>
              <p class="panelp"> the superficial layers of the muscles to improve mental and physical health.</p>
            </div>
            <div class="row srow">
              <div class="col-lg-4 stime">
                <h4 class="text-center">DURATION = 60 / 90 Minutes<h4>
              </div>
              <div class="col-lg-4 sprice">
                <h4 class="text-center">PRICE = ₹ 1500 / 2200</h4>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">BALINESE MASSAGE :</a>
          </h4>
        </div>
        <div id="collapse6" class="panel-collapse collapse ">
          <div class="panel-body" style="background-image:url({% static 'beautyapp/images/balinemassage.jpg' %});width:100%;height:500px;">

            <div class="row panelrow">
              <p class="panelp">In FISS we provide best BALINESE MASSAGE. This massage uses a combination of gentle stretches,acupressure,  </p>
              <p class="panelp"> reflexology,and aromatherapy to stimulate the flow of blood,oxygen and "qi" (energy) around your </p>
              <p class="panelp">  body and helps to bring a sense of wellbeing, calm and deep relaxation.</p>
            </div>
            <div class="row srow">
              <div class="col-lg-4 stime">
                <h4 class="text-center">DURATION = 60 / 90 Minutes<h4>
              </div>
              <div class="col-lg-4 sprice">
                <h4 class="text-center">PRICE = ₹ 1500 / 2200</h4>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">DEEP TISSUE MASSAGE : </a>
          </h4>
        </div>
        <div id="collapse7" class="panel-collapse collapse ">
          <div class="panel-body" style="background-image:url({% static 'beautyapp/images/Deeptissue.jpeg' %});width:100%;height:500px;">

            <div class="row panelrow">
              <p class="panelp">In FISS we provide best DEEP TISSUE MASSAGE. This massage is used to treat musculoskeletal issues,  </p>
              <p class="panelp"> such as strains and sports injuries. It involves applying sustained pressure using slow,  </p>
              <p class="panelp">  deep strokes to target the inner layers of your muscles and connective tissues. </p>
              <p class="panelp">  It helps to break up scar tissue that forms following an injury and reduce </p>
              <p class="panelp">  tension in muscle and tissue. </p>

            </div>
            <div class="row srow">
              <div class="col-lg-4 stime">
                <h4 class="text-center">DURATION = 60 / 90 Minutes<h4>
              </div>
              <div class="col-lg-4 sprice">
                <h4 class="text-center">PRICE = ₹ 1800 / 2500</h4>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">AYURVEDIC BODY MASSAGE : </a>
          </h4>
        </div>
        <div id="collapse8" class="panel-collapse collapse ">
          <div class="panel-body" style="background-image:url({% static 'beautyapp/images/Ayurvedisage.jpg' %});width:100%;height:500px;">

            <div class="row panelrow">
              <p class="panelp">In FISS we provide best AYURVEDIC BODY MASSAGE. This massage helps to   </p>
              <p class="panelp"> focuses on relaxation, stress relief and releasing emotional blockages  </p>


            </div>
            <div class="row srow">
              <div class="col-lg-4 stime">
                <h4 class="text-center">DURATION = 60 / 90 Minutes<h4>
              </div>
              <div class="col-lg-4 sprice">
                <h4 class="text-center">PRICE = ₹ 1500 / 2200</h4>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse9">POTLI MASSAGE : </a>
          </h4>
        </div>
        <div id="collapse9" class="panel-collapse collapse ">
          <div class="panel-body" style="background-image:url({% static 'beautyapp/images/Deeptissue.jpeg' %});width:100%;height:500px;">

            <div class="row panelrow">
              <p class="panelp">In FISS we provide best POTLI MASSAGE. This massage is often recommended for illnesses such as  </p>
              <p class="panelp"> rheumatoid arthritis, spondylitis, frozen shoulders, osteoarthritis. It helps to   </p>
              <p class="panelp">  relieve pain and inflammation, improve blood circulation and flexibility. </p>

            </div>
            <div class="row srow">
              <div class="col-lg-4 stime">
                <h4 class="text-center">DURATION = 60 / 90 Minutes<h4>
              </div>
              <div class="col-lg-4 sprice">
                <h4 class="text-center">PRICE = ₹ 2000 / 2700</h4>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse10">ABHAYANGAM : </a>
          </h4>
        </div>
        <div id="collapse10" class="panel-collapse collapse ">
          <div class="panel-body" style="background-image:url({% static 'beautyapp/images/Abhayangam.jpg' %});width:100%;height:500px;">

            <div class="row panelrow">
              <p class="panelp">In FISS we provide best ABHAYANGAM. This is an oil massage and it involves massage </p>
              <p class="panelp"> of the body with dosha-specific warm herb infused oils.</p>

            </div>
            <div class="row srow">
              <div class="col-lg-4 stime">
                <h4 class="text-center">DURATION = 60 / 90 Minutes<h4>
              </div>
              <div class="col-lg-4 sprice">
                <h4 class="text-center">PRICE = ₹ 1800 / 2500</h4>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse11">LOMI LOMI MASSAGE : </a>
          </h4>
        </div>
        <div id="collapse11" class="panel-collapse collapse ">
          <div class="panel-body" style="background-image:url({% static 'beautyapp/images/lomilmassage.jpg' %});width:100%;height:500px;">

            <div class="row panelrow">
              <p class="panelp">In FISS we provide best LOMI LOMI MASSAGE. It is a traditional Hawaiian massage that uses a</p>
              <p class="panelp"> combination of massage techniques, nut oils, and sometimes element</p>

            </div>
            <div class="row srow">
              <div class="col-lg-4 stime">
                <h4 class="text-center">DURATION = 60 / 90 Minutes<h4>
              </div>
              <div class="col-lg-4 sprice">
                <h4 class="text-center">PRICE = ₹ 1800 / 2500</h4>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse12">THAI MASSAGE :  </a>
          </h4>
        </div>
        <div id="collapse12" class="panel-collapse collapse ">
          <div class="panel-body" style="background-image:url({% static 'beautyapp/images/Thaimassage.jpg' %});width:100%;height:500px;">

            <div class="row panelrow">
              <p class="panelp"> In FISS we provide best THAI MASSAGE. This massage is uses gentle pressure and stretching techniques</p>
              <p class="panelp"> to relax the whole body. This is an ancient healing practice that originated in India.</p>

            </div>
            <div class="row srow">
              <div class="col-lg-4 stime">
                <h4 class="text-center">DURATION = 60 / 90 Minutes<h4>
              </div>
              <div class="col-lg-4 sprice">
                <h4 class="text-center">PRICE = ₹ 1800 / 2500</h4>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse13">COUPLE MASSAGE : </a>
          </h4>
        </div>
        <div id="collapse13" class="panel-collapse collapse ">
          <div class="panel-body" style="background-image:url({% static 'beautyapp/images/couplemaage.jpg' %});width:100%;height:500px;">

            <div class="row panelrow">
              <p class="panelp"> In FISS we provide best COUPLE MASSAGE.  This is when you and a friend each enjoy a massage</p>
              <p class="panelp"> while lying on two separate beds next to each other. There are two massage</p>
              <p class="panelp"> therapists - one for each person. Like any other massage a couple massage</p>
              <p class="panelp"> may include soothing music, aromatherapy, or candle lighting.</p>

            </div>
            <div class="row srow">
              <div class="col-lg-4 stime">
                <h4 class="text-center">DURATION = 60 / 90 Minutes<h4>
              </div>
              <div class="col-lg-4 sprice">
                <h4 class="text-center">PRICE = ₹ 2600 / 3600</h4>
              </div>
            </div>
          </div>
        </div>
      </div><br><br>

      <div class="row servicehd">
        <h4 class="text-center">SKIN & BEAUTY :</h4>
      </div><br />

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse14">BLEACHING:FACE & NECK </a>
          </h4>
        </div>
        <div id="collapse14" class="panel-collapse collapse ">
          <div class="panel-body" style="background-image:url({% static 'beautyapp/images/bleaching.jpg' %});width:100%;height:500px;">

            <div class="row panelrow">
              <p class="panelp"> In FISS we have a best bleaching facility to your face & Neck including D Tan.</p>


            </div>
            <div class="row srow">
              <div class="col-lg-4 stime">
                <h4 class="text-center">DURATION = <h4>
              </div>
              <div class="col-lg-4 sprice">
                <h4 class="text-center">PRICE = ₹ 350</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse15">BLEACHING:D TAN  </a>
          </h4>
        </div>
        <div id="collapse15" class="panel-collapse collapse ">
          <div class="panel-body" style="background-image:url({% static 'beautyapp/images/DTan.jpg' %});width:100%;height:500px;">

            <div class="row panelrow">
              <p class="panelp"> In FISS we have a best bleaching facility to your face & Neck including D Tan.</p>


            </div>
            <div class="row srow">
              <div class="col-lg-4 stime">
                <h4 class="text-center">DURATION = <h4>
              </div>
              <div class="col-lg-4 sprice">
                <h4 class="text-center">PRICE = ₹ 450</h4>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse16">WAXING (ONLY LADIES) :FULL ARMS </a>
          </h4>
        </div>
        <div id="collapse16" class="panel-collapse collapse ">
          <div class="panel-body" style="background-image:url({% static 'beautyapp/images/waxing-farms.jpg' %});width:100%;height:500px;">

            <div class="row panelrow">
              <p class="panelp"> In FISS we have a best waxing facility only for ladies.</p>


            </div>
            <div class="row srow">
              <div class="col-lg-4 stime">
                <h4 class="text-center">DURATION = <h4>
              </div>
              <div class="col-lg-4 sprice">
                <h4 class="text-center">PRICE = ₹ 300</h4>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse17">WAXING (ONLY LADIES) :FULL LEGS </a>
          </h4>
        </div>
        <div id="collapse17" class="panel-collapse collapse ">
          <div class="panel-body" style="background-image:url({% static 'beautyapp/images/waxing-fulegs.jpg' %});width:100%;height:500px;">

            <div class="row panelrow">
              <p class="panelp"> In FISS we have a best waxing facility only for ladies.</p>


            </div>
            <div class="row srow">
              <div class="col-lg-4 stime">
                <h4 class="text-center">DURATION = <h4>
              </div>
              <div class="col-lg-4 sprice">
                <h4 class="text-center">PRICE = ₹ 400</h4>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse18">WAXING (ONLY LADIES) :UNDER-ARMS</a>
          </h4>
        </div>
        <div id="collapse18" class="panel-collapse collapse ">
          <div class="panel-body" style="background-image:url({% static 'beautyapp/images/waxingarms.jpg' %});width:100%;height:500px;">

            <div class="row panelrow">
              <p class="panelp"> In FISS we have a best waxing facility only for ladies.</p>


            </div>
            <div class="row srow">
              <div class="col-lg-4 stime">
                <h4 class="text-center">DURATION = <h4>
              </div>
              <div class="col-lg-4 sprice">
                <h4 class="text-center">PRICE = ₹ 100</h4>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse19">WAXING (ONLY LADIES) :FULL WAXING : (Full ARMS + Full LEGS + UNDER-ARMS)</a>
          </h4>
        </div>
        <div id="collapse19" class="panel-collapse collapse ">
          <div class="panel-body" style="background-image:url({% static 'beautyapp/images/waxing.jpg' %});width:100%;height:500px;">

            <div class="row panelrow">
              <p class="panelp"> In FISS we have a best waxing facility only for ladies.</p>


            </div>
            <div class="row srow">
              <div class="col-lg-4 stime">
                <h4 class="text-center">DURATION = <h4>
              </div>
              <div class="col-lg-4 sprice">
                <h4 class="text-center">PRICE = ₹ 700</h4>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse20">WAXING (ONLY LADIES) :FULL BODY WAXING</a>
          </h4>
        </div>
        <div id="collapse20" class="panel-collapse collapse ">
          <div class="panel-body" style="background-image:url({% static 'beautyapp/images/waxing.jpg' %});width:100%;height:500px;">

            <div class="row panelrow">
              <p class="panelp"> In FISS we have a best waxing facility only for ladies.</p>


            </div>
            <div class="row srow">
              <div class="col-lg-4 stime">
                <h4 class="text-center">DURATION = <h4>
              </div>
              <div class="col-lg-4 sprice">
                <h4 class="text-center">PRICE = ₹ 1200</h4>
              </div>
            </div>
          </div>
        </div>
      </div>

  </div>
</div>


{%endblock%}
